body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 50px;
}

button {
    margin: 10px;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: grey;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {background-color: #ff6666}

button:active {
    background-color: #ff6666;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
