<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>TripController</display-name>
    <servlet-name>TripController</servlet-name>
    <servlet-class>com.travel.web.controllers.admin.trip.TripController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripController</servlet-name>
    <url-pattern>/TripController</url-pattern>
  </servlet-mapping>
  <display-name>Travel ticket booking project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.travel.web.controllers.admin.user.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>user/travel_ticket_booking_web</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>user</injection-target-class>
      <injection-target-name>travel_ticket_booking_web</injection-target-name>
    </injection-target>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>BookingController</display-name>
    <servlet-name>BookingController</servlet-name>
    <servlet-class>com.travel.web.controllers.admin.booking.BookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingController</servlet-name>
    <url-pattern>/BookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingDbUtils</display-name>
    <servlet-name>BookingDbUtils</servlet-name>
    <servlet-class>com.travel.web.controllers.admin.booking.BookingDbUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingDbUtils</servlet-name>
    <url-pattern>/BookingDbUtils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageController</display-name>
    <servlet-name>PageController</servlet-name>
    <servlet-class>com.travel.web.controllers.user.PageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageController</servlet-name>
    <url-pattern>/PageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostController</display-name>
    <servlet-name>PostController</servlet-name>
    <servlet-class>com.travel.web.controllers.admin.post.PostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostController</servlet-name>
    <url-pattern>/PostController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewController</display-name>
    <servlet-name>ReviewController</servlet-name>
    <servlet-class>com.travel.web.controllers.admin.review.ReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewController</servlet-name>
    <url-pattern>/ReviewController</url-pattern>
  </servlet-mapping>
</web-app>